body {
    font-family: arial;
    background-color: #89daff;
   }
.container{
    display: flex;
    justify-content:center;
    gap:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 55px;
}
.card{
    width: 16rem;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin-left: 30px;
}
.card img{
    width: 100%;
    height: 200px;
    display: block;
}
.iklan{
    width: 32rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin-left: 30px;
}
.iklan img{
    width: 100%;
    height: 300px;
    display: block;
}

.kategori{
    width: 10rem;
    height: 150px;
    border-radius: 100%;
    margin-top: 8px;
    margin-left: 15px;
}
.kategori img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.card:hover{
    background-color: deepskyblue;
}


         .btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
         .btn-grad {
            margin: 65px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 15px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         